<div class="flow-comp">
    <h1>数据流向监控</h1>
    <div class="status-layer">
        <div class="point collect" :class="{animate: animate}"></div>
        <div class="point upload" :class="{animate: animate}"></div>
        <div class="point record" :class="{animate: animate}"></div>
        <div class="panel collect" :class="{animate: animate, active: cur.notCollectStatus === '1'}">
            <div class="title">尚未采集</div>
            <div class="text">{{cur.notCollectStatus === '1' ? '当前数据积压过多' : '状态正常'}}</div>
            <div class="count">{{cur.notCollect}}</div>
        </div>
        <div class="panel upload" :class="{animate: animate, active: cur.notUploadStatus === '1'}">
            <div class="title">尚未上传</div>
            <div class="text">{{cur.notUploadStatus === '1' ? '当前数据积压过多' : '状态正常'}}</div>
            <div class="count">{{cur.notUpload}}</div>
        </div>
        <div class="panel record" :class="{animate: animate, active: cur.notInsertStatus === '1'}">
            <div class="title">尚未录入</div>
            <div class="text">{{cur.notInsertStatus === '1' ? '当前数据积压过多' : '状态正常'}}</div>
            <div class="count">{{cur.notInsert}}</div>
        </div>
        <div class="box not-sign-up" :class="{animate: animate, active: cur.collectUnregStatus === '1'}">
            <div class="title">未注册数据量</div>
            <div class="text">{{cur.collectUnregStatus === '1' ? '当前数据积压过多' : '状态正常'}}</div>
            <div class="count">{{cur.collectUnreg}}</div>
        </div>
        <div class="box history" :class="{animate: animate, active: cur.collectHisStatus === '1'}">
            <div class="title">历史数据量</div>
            <div class="text">{{cur.collectHisStatus === '1' ? '当前数据积压过多' : '状态正常'}}</div>
            <div class="count">{{cur.collectHis}}</div>
        </div>
        <div class="box today" :class="{animate: animate}">
            <div class="title">今日数据量</div>
            <div class="count">{{cur.collectToday}}</div>
        </div>
    </div>
    <canvas id="arrow-layer" width="1366" height="768"></canvas>
    <div class="bg-layer"></div>
</div>
