.bottom-comp {
    padding: 0 .38rem;
    .red {
        color: red;
    }
    select {
        //background: transparent;
        position: absolute;
        right: .5rem;
        top: 0;
        //padding: .02rem .05rem;
        //border-radius: 0;
        //border: 1px solid #ccc;
        //height: .4rem;
        //width: 1.3rem;
    }
}
