<div class="top-comp">
    <div>
        <div>今日推送总量</div>
        <div>{{todayPushTotal}}</div>
        <div>昨日总量</div>
        <div>{{yesterdayPushTotal}}</div>
        <!--<div><div class="up"></div>20%</div>-->
    </div>
    <div>
        <div>今日采集总量</div>
        <div>{{todayCollectTotal}}</div>
        <div>尚未采集量</div>
        <div>{{notCollectTotal}}</div>
    </div>
    <div>
        <div>今日上传总量</div>
        <div>{{todayUploadTotal}}</div>
        <div>尚未上传量</div>
        <div>{{notUploadTotal}}</div>
    </div>
    <div>
        <div>今日录入总量</div>
        <div>{{todayInsertTotal}}</div>
        <div>尚未录入量</div>
        <div>{{notInsertTotal}}</div>
    </div>
    <!--<div>-->
        <!--<div>总体情况分析</div>-->
        <!--<div>数据推送:</div><div class="green">正常</div>-->
        <!--<div>数据采集:</div><div class="green">正常</div>-->
        <!--<div>数据上传:</div><div class="green">正常</div>-->
        <!--<div>数据录入:</div><div class="red">异常</div>-->
    <!--</div>-->
</div>
